.main .containerSection {
  width: 90%;
}
.main .containerSection .containerTitulo {
  width: 80%;
}
.main .containerSection .containerTitulo .fw-light {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94784d;
}
.main .card {
  width: 30%;
  display: inline-block;
  padding-top: 10px;
}
.main .card img {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
}
.main .card .text-center {
  color: #94784d;
  margin-top: 20px;
}
.main .card .text-center .card-body {
  width: 100%;
}
.main .card .text-center .card-body .card-text {
  font-family: sans-serif;
  color: #94784d;
}
.main .caja-texto {
  background-color: #f2f2f2;
  opacity: 0.8;
  color: #b09771;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.main .caja-texto .subtitulo {
  padding-top: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.main .caja-texto .texto-index {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  color: #ccb795;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 15%;
}

.container-fluid .contenedorItems {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.container-fluid .contenedorItems .linkRedes {
  padding-left: 20px;
  padding-top: 6px;
  align-items: flex-end;
}
.container-fluid .contenedorItems .linkRedes .icon {
  color: white;
  font-size: 2rem;
  flex-wrap: wrap;
  align-items: flex-end;
}
.container-fluid .mapa {
  height: 20vh;
  padding-right: 3px;
  display: inline-block;
  padding-top: 3px;
}
.container-fluid .derechos {
  font-size: 0.8rem;
  font-family: sans-serif;
  padding-top: 5px;
}

.container-fluid .contenedorNosotros {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-fluid .contenedorNosotros h2 {
  font-size: 2.5rem;
  font-style: initial;
}
.container-fluid .contenedorNosotros p {
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 100;
}

.container .figure {
  padding: 10px;
  margin-top: 50px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .contenedorNosotros {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contenedorNosotros h2 {
    font-size: 1.5rem;
    font-style: initial;
  }
  .contenedorNosotros p {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 100;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contenedorNosotros {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contenedorNosotros h2 {
    font-size: 2.5rem;
    font-style: initial;
  }
  .contenedorNosotros p {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 100;
  }
}
.container .container-div {
  width: 80%;
}
.container .card {
  width: 30%;
  display: inline-block;
  padding-top: 10px;
}
.container .card img {
  width: 100%;
  height: 30vh;
  border-radius: 5px;
}
.container .card .text-center {
  color: #94784d;
  margin-top: 20px;
}
.container .card .card-body {
  width: 100%;
}
.container .card .card-text {
  font-family: sans-serif;
  color: #94784d;
}

.footerServicios {
  margin-top: 2rem;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-image: linear-gradient(to bottom, #b09771, #b9a27d, #c2ac89, #ccb795, #d5c2a2, #d5c2a2, #d5c3a2, #d5c3a2, #ccb895, #c2ae89, #b9a37d, #b09971);
  color: rgb(250, 235, 215);
}

.titulo {
  padding-top: 17px;
  text-align: center;
  font-size: 2rem;
}/*# sourceMappingURL=base.css.map */