.mainContacto{
    height: 90vh;
    .tituloContacto{
        padding-top: 17px;
        text-align: center;
        font-size: 2rem;
    }
    .subtituloContacto{
        padding-top: 20px;
        text-align: center;
        font-size: 1.5rem;
    }
    .form{
        margin-top: 5rem;
    }
    
}
.footer{
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

@media screen and (min-width:0px) and (max-width: 768px) {
    .mainContacto{
        height: 100vh;}
    .footer {
        height: 100vh;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
}
