.mainContacto{
    height: 85vh;
    .tituloContacto{
        padding-top: 17px;
        text-align: center;
        font-size: 2rem;
    }
    .subtituloContacto{
        padding-top: 20px;
        text-align: center;
        font-size: 1.5rem;
    }
    .form{
        margin-top: 5rem;
    }
    
}

