.mainGaleria{
    height: auto;
    .titulo{
            color: $color-primario;
            padding-top: 17px;
            text-align: center;
            font-size: 2rem;
        }
    .subtitulo{
            color: $color-secundario;
            padding-top: 20px;
            text-align: center;
            font-size: 1.5rem;
        }
    .contenedorGaleria{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .imagen{
                width: 30%;
                opacity: 0.8;
                flex-grow: 1;
                flex-shrink: 0;
                img{
                    width: 100%;
                    padding: 10px;
                }
            }
        }
    }



 

    @media (min-width: 768px) and (max-width: 1023px) {
        .mainGaleria {
        height: auto;
        
        .titulo {
        font-size: 1.8rem;
        }
        .subtitulo {
        font-size: 1.3rem;
        }
        .contenedorGaleria {
        display: block;
        .imagen {
        width: 45%;
        margin: 10px;
        img{
            width: 100%;
            padding: 10px;
        }
        }
        }
        }
        }
    @media (min-width: 1024px) {
        .mainGaleria {
        height: auto;
        
        .titulo {
        font-size: 2rem;
        }
        .subtitulo {
        font-size: 1.5rem;
        }
        .contenedorGaleria {
        display: flex;
        .imagen {
        width: 30%;
        margin: 10px;
        img{
            width: 100%;
            padding: 10px;
        }
            }
        }
        }
        }
            
            
   
        
