.main  {
    .containerSection{
        width: 90%;
        .containerTitulo{
            width: 80%;
            .fw-light{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-primario;
            }
        }
    
    }
    .card{
        @mixin card-props{
            width: 30%;
            display: inline-block;
            padding-top: $spacing;
        }
        img{
            width: 100%;
            height: 30vh;
            border-radius: 5px;
        }
        .text-center{
            @mixin text-center{
                color: $color-primario;
                margin-top: $spacing;
                text-align: center;
            }
            .card-body{
                width: 100%;
                .card-text{
                    font-family:sans-serif;
                    color: $color-primario;
                }
            }  
        }
    }
    .caja-texto{
        background-color: #f2f2f2;
        opacity: 0.8;
        color: $color-texto;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        .subtitulo{
            color: $color-texto;
            padding-top: 20px;
            text-align: center;
            font-size: 1.5rem;
        }
        .texto-index{
            color: $color-texto;
            text-align: center;
            font-size: 1rem;
            font-style: $tipografiaTextos;
            color: #ccb795;
        }

    }
}
