.container-fluid{
    .contenedorNosotros{
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            font-size: 2.5rem;
            font-style: initial;
        }
        p{
            font-size: 1rem;
            font-family:sans-serif;
            font-weight: 100;
        }
    }
}
.container{
    .figure{
        padding: 10px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 991px) {
.container-fluid {
.contenedorNosotros {
height: 10vh;
}

}
}

@media only screen and (max-width: 767px) {
.container-fluid {
.contenedorNosotros {
height: 5vh;
h2 {
font-size: 2rem;
}
p {
font-size: 0.8rem;
}
}
}
.container {
.figure {
margin-top: 20px;
}
}
}


