.container-fluid{
    .contenedorNosotros{
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            font-size: 2.5rem;
            font-style: initial;
        }
        p{
            font-size: 1rem;
            font-family:$fuenteTitulos;
            font-weight: 100;
        }
    }
}
.carousel-item{
    height: 60%;
    .img{
        object-fit: cover;
    }
}
.container{
    .figure{
        padding: 10px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 991px) {
.container-fluid {
.contenedorNosotros {
height: 10vh;
}

}
}

@media only screen and (max-width: 767px) {
.container-fluid {
.contenedorNosotros {
height: 5vh;
h2 {
font-size: 2rem;
}
p {
font-size: 0.8rem;
}
}
}
.container {
    .caja-texto{
        background-color: #f2f2f2;
        opacity: 0.8;
        color: #b09771;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        .subtitulo{
            color: #b09771;
            padding-top: 20px;
            text-align: center;
            font-size: 1.5rem;
        }
        .texto-nos{
            color: #ccb795;
            text-align: center;
            font-size: 1rem;
            font-style: italic;
            
        }
    }

.figure {
margin-top: 20px;
}
}
}


