.container{
    .container-div{
        width: 80%;
    }
    .card{
        width: 30%;
        display: inline-block;
        padding-top: 10px;
        img{
            width: 100%;
            height: 30vh;
            border-radius: 5px;
        }
        .text-center{
           @mixin text-center{
            color: $color-primario;
            margin-top: $spacing;
            text-align: center;
           }
            
        }
        .card-body{
            width: 100%;
        }
        .card-text{
            font-family:$fuenteTitulos;
            color: $color-primario;
        }
    }
}
.footerServicios{
    margin-top: 2rem;
}